@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.2109 0.0881 272.2243);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2109 0.0881 272.2243);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2109 0.0881 272.2243);
  --primary: oklch(0.6609 0.1414 239.4348);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.2109 0.0881 272.2243);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.9698 0.0034 230.7073);
  --muted-foreground: oklch(0.5144 0.0499 280.4345);
  --accent: oklch(0.6609 0.1414 239.4348);
  --accent-foreground: oklch(0.6609 0.1414 239.4348);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9153 0.0095 282.039);
  --input: oklch(0.9153 0.0095 282.039);
  --ring: oklch(0.6609 0.1414 239.4348);
  --chart-1: oklch(0.6609 0.1414 239.4348);
  --chart-2: oklch(0.2109 0.0881 272.2243);
  --chart-3: oklch(0.6209 0.1032 215.3549);
  --chart-4: oklch(0.3919 0.1008 257.3676);
  --chart-5: oklch(0.7758 0.0648 232.1827);
  --sidebar: oklch(0.9924 0 0);
  --sidebar-foreground: oklch(0.2109 0.0881 272.2243);
  --sidebar-primary: oklch(0.6609 0.1414 239.4348);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.6609 0.1414 239.4348);
  --sidebar-accent-foreground: oklch(0.6609 0.1414 239.4348);
  --sidebar-border: oklch(0.9494 0.0056 282.1135);
  --sidebar-ring: oklch(0.6609 0.1414 239.4348);
  --font-sans: Montserrat, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Georgia, serif;
  --font-mono: 'JetBrains Mono', monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 2px;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: 235 67% 5%;
  --shadow-2xs: 0 2px 8px 0px hsl(235 67% 5% / 0.03);
  --shadow-xs: 0 2px 8px 0px hsl(235 67% 5% / 0.03);
  --shadow-sm:
    0 2px 8px 0px hsl(235 67% 5% / 0.05), 0 1px 2px -1px hsl(235 67% 5% / 0.05);
  --shadow:
    0 2px 8px 0px hsl(235 67% 5% / 0.05), 0 1px 2px -1px hsl(235 67% 5% / 0.05);
  --shadow-md:
    0 2px 8px 0px hsl(235 67% 5% / 0.05), 0 2px 4px -1px hsl(235 67% 5% / 0.05);
  --shadow-lg:
    0 2px 8px 0px hsl(235 67% 5% / 0.05), 0 4px 6px -1px hsl(235 67% 5% / 0.05);
  --shadow-xl:
    0 2px 8px 0px hsl(235 67% 5% / 0.05), 0 8px 10px -1px hsl(235 67% 5% / 0.05);
  --shadow-2xl: 0 2px 8px 0px hsl(235 67% 5% / 0.13);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2109 0.0881 272.2243);
  --foreground: oklch(1 0 0);
  --card: oklch(0.2335 0.1023 271.5848);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.2335 0.1023 271.5848);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.6609 0.1414 239.4348);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.6609 0.1414 239.4348);
  --secondary-foreground: oklch(0.2109 0.0881 272.2243);
  --muted: oklch(0.31 0.0828 276.5235);
  --muted-foreground: oklch(0.8467 0.0176 230.9544);
  --accent: oklch(0.6609 0.1414 239.4348);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.4344 0.1466 25.7809);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.31 0.0828 276.5235);
  --input: oklch(0.31 0.0828 276.5235);
  --ring: oklch(0.6609 0.1414 239.4348);
  --chart-1: oklch(0.6609 0.1414 239.4348);
  --chart-2: oklch(0.6163 0.0849 279.5896);
  --chart-3: oklch(0.6555 0.1034 214.3649);
  --chart-4: oklch(0.6049 0.1152 256.9956);
  --chart-5: oklch(0.4808 0.0649 233.876);
  --sidebar: oklch(0.1878 0.0732 273.0829);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(0.6609 0.1414 239.4348);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.6609 0.1414 239.4348);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.2865 0.0744 276.7123);
  --sidebar-ring: oklch(0.6609 0.1414 239.4348);
  --font-sans: Montserrat, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Georgia, serif;
  --font-mono: 'JetBrains Mono', monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 4px;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: 0 0% 0%;
  --shadow-2xs: 0 4px 12px 0px hsl(0 0% 0% / 0.2);
  --shadow-xs: 0 4px 12px 0px hsl(0 0% 0% / 0.2);
  --shadow-sm:
    0 4px 12px 0px hsl(0 0% 0% / 0.4), 0 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow:
    0 4px 12px 0px hsl(0 0% 0% / 0.4), 0 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow-md:
    0 4px 12px 0px hsl(0 0% 0% / 0.4), 0 2px 4px -1px hsl(0 0% 0% / 0.4);
  --shadow-lg:
    0 4px 12px 0px hsl(0 0% 0% / 0.4), 0 4px 6px -1px hsl(0 0% 0% / 0.4);
  --shadow-xl:
    0 4px 12px 0px hsl(0 0% 0% / 0.4), 0 8px 10px -1px hsl(0 0% 0% / 0.4);
  --shadow-2xl: 0 4px 12px 0px hsl(0 0% 0% / 1);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
